:root {
  --left-bg-color: rgba(87, 84, 236, 0.7);
  --right-bg-color: rgba(43, 43, 43, 0.8);
  --left-btn-hover-color: rgba(7, 84, 236, 1);
  --right-btn-hover-color: rgba(43, 43, 43, 1);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 500ms;
}

h1 {
  font-size: 4rem;
  color: white;
  white-space: nowrap;
}
.limg {
  width: 100px;
  height: 100px;
}

.btn {
  text-decoration: none;
  color: white;
  border: white solid 0.2rem;
  font-size: 1rem;
  width: 5rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
}

.left .btn:hover {
  background-color: var(--left-btn-hover-color);
  border-color: var(--left-btn-hover-color);
}
.right .btn:hover {
  background-color: var(--right-btn-hover-color);
  border-color: var(--right-btn-hover-color);
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  margin-left: 15%;
  padding: 40px;
  border: white solid 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  padding: 40px;
  margin-right: 15%;
  border: white solid 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hover-left .left {
  transform: scale(1.1);
}

.hover-right .right {
  transform: scale(1.1);
}

.left,
.right,
.left::before,
.right::before {
  transition: all var(--speed) ease-in-out;
}
